{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ transaction.code }}</td>
            </tr>
            <tr>
                <th>PrenomEnv</th>
                <td>{{ transaction.prenomEnv }}</td>
            </tr>
            <tr>
                <th>NomEnv</th>
                <td>{{ transaction.nomEnv }}</td>
            </tr>
            <tr>
                <th>TelEnv</th>
                <td>{{ transaction.telEnv }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ transaction.montant }}</td>
            </tr>
            <tr>
                <th>AdresseEnv</th>
                <td>{{ transaction.adresseEnv }}</td>
            </tr>
            <tr>
                <th>TypePieceEnv</th>
                <td>{{ transaction.typePieceEnv }}</td>
            </tr>
            <tr>
                <th>DateEnv</th>
                <td>{{ transaction.dateEnv ? transaction.dateEnv|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NomBenef</th>
                <td>{{ transaction.nomBenef }}</td>
            </tr>
            <tr>
                <th>TelBenef</th>
                <td>{{ transaction.telBenef }}</td>
            </tr>
            <tr>
                <th>DateRet</th>
                <td>{{ transaction.dateRet ? transaction.dateRet|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PrenomBenef</th>
                <td>{{ transaction.prenomBenef }}</td>
            </tr>
            <tr>
                <th>CniBenef</th>
                <td>{{ transaction.cniBenef }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ transaction.status }}</td>
            </tr>
            <tr>
                <th>Taxe</th>
                <td>{{ transaction.taxe }}</td>
            </tr>
            <tr>
                <th>CommissionPropre</th>
                <td>{{ transaction.commissionPropre }}</td>
            </tr>
            <tr>
                <th>CommissionEnv</th>
                <td>{{ transaction.commissionEnv }}</td>
            </tr>
            <tr>
                <th>CommissionRet</th>
                <td>{{ transaction.commissionRet }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ transaction.frais }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transaction_index') }}">back to list</a>

    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
